/* main */
main section {padding: 0 120px; min-width: 420px;}
/* #book */
main #book {display: flex; margin: 60px 0; justify-content: center; align-items: center;}
main #book .book {
    display: flex; flex-flow: column nowrap; 
    margin-right: 50px;
    align-items: center;
    gap:20px;
}
main #book .book p {width: 434px; box-shadow: 0 4px 4px rgba(0,0,0,0.25);}
main #book .book p img {width: 100%;}
main #book .book a {display: flex; justify-content: center; gap: 20px;}
main #book .book a:hover span {color:#000;}
main #book .book a img {}
main #book .book a span {font-size: 1.333rem; color:#888; transition: color 0.3s;}
main #book .right {}
main #book .right .info_wrap {margin-bottom: 100px;}
main #book .right .info_wrap h1 {font-size: 3.157rem; font-weight: 700; margin-bottom: 20px;}
main #book .right .info_wrap h2 {font-size: 1.777rem; margin-bottom: 100px;}
main #book .right .info_wrap p {font-size: 1.333rem;}
main #book .right .info_wrap p em {font-size: 1.777rem; font-weight: 500;}
main #book .right .info_wrap .info {display: flex; flex-flow:row wrap; margin: 40px 0;}
main #book .right .info_wrap .info dt {width: 86px; font-weight: 500; font-size: 1.333rem; line-height: 30px;}
main #book .right .info_wrap .info dd {width: calc(100% - 86px); font-size: 1.333rem; line-height: 30px;}
main #book .right .link_wrap {}
main #book .right .link_wrap h2 {font-size: 1.777rem; font-weight: 500; margin-bottom: 20px;}
main #book .right .link_wrap .link {
    display: flex; gap: 20px;
}
main #book .right .link_wrap .link a {
    display: flex; justify-content: space-between;
    background-color: #f1f1f1;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    white-space: nowrap;
    transition: all 0.3s linear;
}
main #book .right .link_wrap .link a:hover {background-color: #fff; border: 1px solid #000;}
main #book .right .link_wrap .link a:hover span {margin-right: 40px;}
main #book .right .link_wrap .link a span {font-size: 1.333rem; margin-right: 20px; transition: all 0.3s;}
main #book .right .link_wrap .link a img {height:24px;}
/* list */
main .list {text-align: right;}
main .list a {color:#888; font-size: 1.333rem; padding: 30px 0; display: inline-block; transition: color 0.3s;}
main .list a:hover {color:#000;}
/* #detail */
main #detail {}
main #detail .tab_menu {padding-top: 30px; border-bottom: 1px solid #ccc;}
main #detail .tab_menu a {
    display: inline-block;
    padding: 20px; font-size: 1.333rem; font-weight: 500;
    margin-right: 20px;
}
main #detail .tab_menu a:last-child {margin-right: 0;}
main #detail .tab_menu a.active {font-weight: 700; border-bottom: 3px solid #5A85A6; color:#5A85A6;}
main #detail .tab_contents {padding: 60px 0;}
main #detail .tab_contents .contents {}
main #detail .tab_contents .contents .sub_title {font-size: 1.333rem; font-weight: 700; margin-bottom: 40px;}
main #detail .tab_contents .contents h2 {font-size: 2.369rem; font-weight: 700; margin-bottom: 40px;}
main #detail .tab_contents .contents .info {font-size: 1.333rem; line-height: 40px;}