/* 반응형 */
header, footer {min-width: 420px;}
/* header */
header {
    position: fixed; top: 0; left: 0; z-index: 999;
    height: 100px; width: 100%;
    display: flex; justify-content: space-between;
    padding: 0 30px; background-color: rgba(255,255,255,0);
    transition: background-color 0.5s;
}
header:hover {background-color: #fff;}
header .left {display: flex;}
header .left h1 {width: 107px; padding: 30px 0; margin-right: 40px;}
header .left h1 a {}
header .left h1 a img {width: 100%;}
header .left nav {}
header .left nav > ul {display: flex;}
header .left nav > ul > li {position: relative;}
header .left nav > ul > li > a {
    display: block; line-height: 100px;
    padding: 0 20px; height: 100px;
    text-align: center;
    font-size: 1.333rem;
    white-space: nowrap;
}
header .left nav > ul > li > a.active {
    border-bottom: 3px solid #5A85A6;
    color: #5A85A6; font-weight: 700;
}
header .left nav > ul > li > .sub {
    position: absolute; left: 50%; transform: translateX(-50%);
    background-color: #fff;
}
header .left nav > ul > li > .sub li {}
header .left nav > ul > li > .sub li a {
    display: block;
    width: 100%; padding: 20px;
    white-space: nowrap;
    transition: color 0.3s;
}
header .left nav > ul > li > .sub li a:hover {color: #5A85A6;}
header .user_menu {
    display: flex; align-items: center;
}
header .user_menu a:first-child {font-size: 1.333rem;}
header .user_menu a {padding: 20px;}
header .user_menu a:nth-child(3) {margin-right: 0; padding-right: 0;}
header .user_menu .lang {}
header .user_menu a img {}
/* mobile nav */
header .user_menu .open_nav {
    display: flex; flex-flow: column nowrap; gap: 7px;
    display: none;
}
header .user_menu .open_nav span {
    background-color: #000; width: 30px; height: 2px;
}
header .m_nav_open {
    display: none;
    background-color: aqua;
    position: absolute; right: 0; top: 100px;
    width: 100%;
}
header .m_nav_open #close {}
header .m_nav_open ul {}
header .m_nav_open ul > li {
    display: flex;
}
header .m_nav_open ul > li > a {
    font-size: 1.777rem;
    width: 100%;
    padding: 20px 0; margin: 0 30px;
    border-bottom: 1px dotted #5A85A6;
}
header .m_nav_open ul > li:last-child > a {border-bottom:0;}
header .m_nav_open ul > li > .sub {}
header .m_nav_open ul > li > .sub li {}
header .m_nav_open ul > li > .sub li a {}
/* footer */
footer {
    background-color: #222;
}
footer .top {
    padding: 30px 0; margin: 0 30px; 
    border-bottom: 1px solid #ccc;
    display: flex; justify-content: space-between;
}
footer .top > a {width: 83px;}
footer .top > a img {width: 100%;}
footer .top .sns {}
footer .top .sns a {margin-right: 20px;}
footer .top .sns a:last-child {margin-right: 0;}
footer .btm {padding: 30px; display: flex; justify-content: space-between;}
footer .btm .left {}
footer .btm .left .fnb {margin-bottom: 20px;}
footer .btm .left .fnb a {color: #fff; margin-right: -2px;}
footer .btm .left .fnb a::after {
    background-color: #fff; display: inline-block;
    content:''; width: 1px; height: 14px; margin: 0 10px;
}
footer .btm .left .fnb a:last-child { margin-right: 0;}
footer .btm .left .fnb a:last-child::after {display: none;}
footer .btm .left address {color: #fff; font-size: 0.75rem; line-height: 20px;}
footer .btm .site {}
footer .btm .site #site {
    background: rgba(255,255,255,0) url(../images/icon_up.png) no-repeat 90% center; 
    border: 1px solid #fff;
    padding: 15px; width: 203px; outline: none; color:#fff;
    appearance: none; cursor: pointer;
}
footer .btm .site #site option {color:#000;}