/* 공통 여백 */
main #new_book,
main #news,
main #youtube {padding: 0 120px;}
/* 공통 타이틀 css */
main section .title h2 {font-size: 2.369rem; font-weight: 700;}
main section .title .sub_title {font-size: 1.333rem; color:#888; margin-bottom: 20px;}
/* main */
main {min-width: 420px;}
/* #main_bnr */
main #main_bnr {}
main #main_bnr #main_slide {position: relative;}
main #main_bnr #main_slide .swiper-wrapper {}
main #main_bnr #main_slide .swiper-wrapper .swiper-slide {}
main #main_bnr #main_slide .swiper-wrapper .swiper-slide a {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
}
main #main_bnr #main_slide .swiper-wrapper .swiper-slide a img {width: 100%;}
main #main_bnr #main_slide .swiper-pagination {
    bottom: 170px;  left: 120px; width: 366px; text-align: left;
    display: flex; justify-content: space-between;
}
main #main_bnr #main_slide .swiper-pagination-bullet span {
    font-size: 1.333rem; color:#000; font-weight: 700;
    display: block; padding-top: 20px;
}
main #main_bnr #main_slide .swiper-pagination-bullet {
    width: 153px; border-radius: 0; height: 5px;
    background-color: #000;
}
/* #new_book */
main #new_book {}
main #new_book .title {
    display: flex; justify-content: space-between;
    align-items: center;
    padding: 60px 0 30px;
}
main #new_book .title .tab_title {
    display: flex; gap:20px;
}
main #new_book .title .tab_title h2 {}
main #new_book .title .tab_title h2 button {
    font-size: 2.369rem; font-weight: 700; color:#ccc;
    background:none;
}
main #new_book .title .tab_title h2 button.active {color:#000;}
main #new_book .title .tab_title .more {}
main #new_book .title .tab_title .more img {}
main #new_book .tab_contents {padding: 30px 0;}
main #new_book .tab_contents .contents {
    display: flex; gap:20px;
    flex-flow:row wrap;
}
main #new_book .tab_contents .contents a {width: calc(20% - 80px / 5);}
main #new_book .tab_contents .contents a .book_cv {height: 420px; /* overflow: hidden; */}
main #new_book .tab_contents .contents a .book_cv img {height:100%;  box-shadow: 0 4px 4px rgba(0,0,0,0.25);}
main #new_book .tab_contents .contents a .txt {padding: 20px 0;}
main #new_book .tab_contents .contents a h3 {font-size: 1.333rem; font-weight: 700; margin-bottom: 20px;}
main #new_book .tab_contents .contents a .writer {color:#888;}
/* #news */
main #news {display: flex; justify-content: space-between; margin: 60px 0 30px;}
main #news .title {width: 50%;}
main #news .title h2 {line-height: 54px;}
main #news .title h2 em {font-size: 2.369rem; font-weight: 700; color:#5A85A6;}
main #news .contents {
    width: 70%;
    display: flex; flex-flow: column wrap;
    height: 700px; gap: 20px;
}
main #news .contents > a:first-child {margin-top: 50px;}
main #news .contents > a:hover {background-color: #fff;}
main #news .contents > a {
    background-color: #f1f1f1;
    width: calc(50% - 20px / 2);
    height: 300px;
    border-radius: 10px;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; padding: 30px;
    gap:20px;
    transition: background-color 0.3s;
}
main #news .contents > a .category {font-size: 1.333rem; font-weight: 700;}
main #news .contents > a .info {color:#5A85A6;}
main #news .contents > a .news {color:#259F6C;}
main #news .contents > a .event {color:#FF613F;}
main #news .contents  > a h3 {line-height: 40px; font-size: 1.333rem;}
main #news .contents > a .date {color:#888;}
/* #news #sub_slide */
main #news .contents #sub_slide {width: calc(50% - 20px / 2); border-radius: 10px;}
main #news .contents #sub_slide .swiper-wrapper {}
main #news .contents #sub_slide .swiper-wrapper .swiper-slide {height: 300px;}
main #news .contents #sub_slide .swiper-wrapper .swiper-slide a {
    background: url(../images/event1.jpg) no-repeat center; 
    width: 100%; height: 100%; display: block;
    background-size: cover;
}
main #news .contents .control {
    display: flex; justify-content: flex-end; 
    align-items: center; 
    width: calc(50% -20px / 2); height: 30px; 
    padding-right: 20px;
} 
main #news .contents .control .btn {
    background-repeat: no-repeat;
    display: block;
    width: 30px; height: 20px;
    cursor: pointer;
}
main #news .contents .control .btn_prev {background-image: url(../images/icon_left.png);}
main #news .contents .control .btn_next {background-image: url(../images/icon_right.png);}
main #news .contents .control .num {padding: 0 20px;}
main #news .contents .control .num span {color:#5A85A6;}
/* #youtube */
main #youtube {}
main #youtube .title {display: flex; justify-content: space-between; padding: 60px 0 30px;}
main #youtube .title .left {}
main #youtube .title .more {}
main #youtube .contents {
    display: flex; gap:20px;
    padding: 30px 0;
}
main #youtube .contents iframe {width: 100%;}
main #youtube .contents .youtube_list {display: flex; flex-flow:column nowrap; justify-content: space-between;}
main #youtube .contents .youtube_list a {width: 600px;}
main #youtube .contents .youtube_list a img {width: 100%;}
/* footer */