/* 공통 여백 */
main #new_book,
main #news,
main #youtube {padding: 0 120px;}
/* 공통 타이틀 css */
main section .title h2 {font-size: 2.369rem; font-weight: 700;}
main section .title .sub_title {font-size: 1.333rem; color:#888; margin-bottom: 20px;}
/* main */
main {min-width: 420px;}
/* #main_bnr */
main #main_bnr {}
main #main_bnr #main_slide {position: relative;}
main #main_bnr #main_slide .swiper-wrapper {}
main #main_bnr #main_slide .swiper-wrapper .swiper-slide {}
main #main_bnr #main_slide .swiper-wrapper .swiper-slide a {
    width: 100%;
    display: block;
    background-size: cover;
    background-position: center;
}
main #main_bnr #main_slide .swiper-wrapper .swiper-slide a img {width: 100%;}
main #main_bnr #main_slide .swiper-pagination {
    bottom: 170px;  left: 120px; width: 366px; text-align: left;
    display: flex; justify-content: space-between;
}
main #main_bnr #main_slide .swiper-pagination-bullet span {
    font-size: 1.333rem; color:#000; font-weight: 700;
    display: block; padding-top: 20px;
}
main #main_bnr #main_slide .swiper-pagination-bullet {
    width: 153px; border-radius: 0; height: 5px;
    background-color: #000;
}
/* #new_book */
main #new_book {}
main #new_book .title {
    display: flex; justify-content: space-between;
    align-items: center;
    padding: 60px 0 30px;
}
main #new_book .title .tab_title {
    display: flex; gap:20px;
}
main #new_book .title .tab_title h2 {}
main #new_book .title .tab_title h2 button {
    font-size: 2.369rem; font-weight: 700; color:#ccc;
    background:none;
}
main #new_book .title .tab_title h2 button.active {color:#000;}
main #new_book .title .tab_title .more {}
main #new_book .title .tab_title .more img {}
main #new_book .tab_contents {padding: 30px 0;}
main #new_book .tab_contents .contents {
    display: flex; gap:20px;
    flex-flow:row wrap;
}
main #new_book .tab_contents .contents a {width: calc(20% - 80px / 5);}
main #new_book .tab_contents .contents a .book_cv {height: 420px; /* overflow: hidden; */}
main #new_book .tab_contents .contents a .book_cv img {height:100%;  box-shadow: 0 4px 4px rgba(0,0,0,0.25);}
main #new_book .tab_contents .contents a .txt {padding: 20px 0;}
main #new_book .tab_contents .contents a h3 {font-size: 1.333rem; font-weight: 700; margin-bottom: 20px;}
main #new_book .tab_contents .contents a .writer {color:#888;}
/* #news */
main #news {display: flex; justify-content: space-between; margin: 60px 0 30px;}
main #news .title {width: 50%;}
main #news .title h2 {line-height: 54px;}
main #news .title h2 em {font-size: 2.369rem; font-weight: 700; color:#5A85A6;}
main #news .contents {width: 70%;}
main #news .contents ul {
    display: flex; flex-flow: column wrap;
    height: 700px; gap: 20px;
}
main #news .contents ul li:first-child {margin-top: 30px;}
main #news .contents ul li:hover {background-color: #fff;}
main #news .contents ul li:last-of-type {height: 330px; background-color: rgba(0,0,0,0.0);}
main #news .contents ul li {
    background-color: #f1f1f1;
    width: calc(50% - 20px / 2);
    height: 300px;
    border-radius: 10px;
    transition: all 0.5s;
}
main #news .contents ul li > a {
    height: 100%;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; padding: 30px;
    gap:20px;
}
main #news .contents ul li > a .category {font-size: 1.333rem; font-weight: 700;}
main #news .contents ul li > a .info {color:#5A85A6;}
main #news .contents ul li > a .news {color:#259F6C;}
main #news .contents ul li > a .event {color:#FF613F;}
main #news .contents ul li > a h3 {line-height: 40px; font-size: 1.333rem;}
main #news .contents ul li > a .date {color:#888;}
/* #news #sub_slide */
main #news .contents ul li #sub_slide {width: 100%; height:100%;}
main #news .contents ul li #sub_slide .swiper-wrapper {}
main #news .contents ul li #sub_slide .swiper-wrapper .swiper-slide {height: 300px; border-radius: 10px; overflow: hidden;}
main #news .contents ul li #sub_slide .swiper-wrapper .swiper-slide a {}
main #news .contents ul li #sub_slide .swiper-wrapper .swiper-slide a img {height: 100%;}
main #news .contents ul li #sub_slide .swiper-pagination {pointer-events: none; width: 20%; right: 35px; left: auto;}
main #news .contents ul li #sub_slide .swiper-button-prev::after,
main #news .contents ul li #sub_slide .swiper-button-next::after {display: none;}
main #news .contents ul li #sub_slide .swiper-button-prev,
main #news .contents ul li #sub_slide .swiper-button-next {
    background-repeat: no-repeat;
    transform: translate(90%, 360%); width: 75%;
}
main #news .contents ul li #sub_slide .swiper-button-prev {background-image: url(../images/icon_left.png);}
main #news .contents ul li #sub_slide .swiper-button-next {background-image: url(../images/icon_right.png);}
/* #youtube */
main #youtube {}
main #youtube .title {display: flex; justify-content: space-between; padding: 60px 0 30px;}
main #youtube .title .left {}
main #youtube .title .more {}
main #youtube .contents {
    display: flex; gap:20px;
    padding: 30px 0;
}
main #youtube .contents iframe {width: 100%;}
main #youtube .contents .youtube_list {display: flex; flex-flow:column nowrap; justify-content: space-between;}
main #youtube .contents .youtube_list a {width: 600px;}
main #youtube .contents .youtube_list a img {width: 100%;}
/* footer */